In [0]:
spark

In [0]:
from pyspark.sql.functions import current_timestamp,current_date,date_add,date_sub,datediff

In [0]:
from pyspark.sql.functions import date_format,dayofmonth,dayofweek,dayofyear,month,days,year

In [0]:
display(current_date())

Column<'current_date()'>

In [0]:
from pyspark.sql.functions import col

In [0]:
from pyspark.sql.functions import months_between,add_months

In [0]:
df_spark=spark.read.csv('dbfs:/FileStore/employee.csv',header=True,inferSchema=True)

In [0]:
df_spark.show()

+-----+--------+------------------+---------------+-----------+------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|
+-----+--------+------------------+---------------+-----------+------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|
+-----+--------+------------------+---------------+-----------+------+

In [0]:
df_spark.withColumn('New date',current_date()).show()

+-----+--------+------------------+---------------+-----------+------+----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|  New date|
+-----+--------+------------------+---------------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2024-10-19|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2024-10-19|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2024-10-19|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2024-10-19|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2024-10-19|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2024-10-19|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2024-10-19|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2024-10-19|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2024-10-19|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2024-10-19|
+-----+--------+------------------+---------------+-----------+------+----------+

In [0]:
df_timestamp=df_spark.withColumn('New_time',current_timestamp())

In [0]:
df_timestamp.show(truncate=False)

+-----+--------+------------------+---------------+-----------+------+-----------------------+
|Empid|Name    |Skills            |Date of Joining|Dept       |Salary|New_time               |
+-----+--------+------------------+---------------+-----------+------+-----------------------+
|1    |Abhishek|python,sql,excel  |2020-01-01     |DataScience|100000|2024-10-19 14:32:00.355|
|2    |Nitesh  |sap,word,excel    |2017-06-10     |Finance    |150000|2024-10-19 14:32:00.355|
|3    |Aniket  |Java,sql          |2021-02-20     |Development|200000|2024-10-19 14:32:00.355|
|4    |Sandeep |Aws,postgre,python|2020-01-01     |Development|125000|2024-10-19 14:32:00.355|
|5    |Rahul   |Azure,scala       |2018-05-05     |DataScience|175000|2024-10-19 14:32:00.355|
|6    |Venkat  |Slang,java        |2019-05-10     |Finance    |250000|2024-10-19 14:32:00.355|
|7    |Arunesh |finacle,isense    |2021-02-20     |Finance    |150000|2024-10-19 14:32:00.355|
|8    |Sangeeta|Dermatoloist      |2022-10-30     |DataScience|100000|2024-10-19 14:32:00.355|
|9    |Yuvraj  |ABCD              |2023-06-01     |Development|200000|2024-10-19 14:32:00.355|
|10   |Tushar  |running           |2021-10-20     |Finance    |150000|2024-10-19 14:32:00.355|
+-----+--------+------------------+---------------+-----------+------+-----------------------+

In [0]:
df_spark.select('*',dayofmonth('Date of Joining').alias('day_of_month')).show()

+-----+--------+------------------+---------------+-----------+------+------------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|day_of_month|
+-----+--------+------------------+---------------+-----------+------+------------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|           1|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|          10|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|          20|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|           1|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|           5|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|          10|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|          20|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|          30|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|           1|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|          20|
+-----+--------+------------------+---------------+-----------+------+------------+

In [0]:
df_spark.select('*',dayofweek('Date of Joining').alias('day_of_week')).show()

+-----+--------+------------------+---------------+-----------+------+-----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|day_of_week|
+-----+--------+------------------+---------------+-----------+------+-----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|          4|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|          7|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|          7|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|          4|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|          7|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|          6|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|          7|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|          1|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|          5|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|          4|
+-----+--------+------------------+---------------+-----------+------+-----------+

In [0]:
df_timestamp.show(2)

+-----+--------+----------------+---------------+-----------+------+--------------------+
|Empid|    Name|          Skills|Date of Joining|       Dept|Salary|            New_time|
+-----+--------+----------------+---------------+-----------+------+--------------------+
|    1|Abhishek|python,sql,excel|     2020-01-01|DataScience|100000|2024-10-19 14:37:...|
|    2|  Nitesh|  sap,word,excel|     2017-06-10|    Finance|150000|2024-10-19 14:37:...|
+-----+--------+----------------+---------------+-----------+------+--------------------+
only showing top 2 rows

In [0]:
df_timestamp.select('New_time',dayofweek('New_time')).show(2)

+--------------------+-------------------+
|            New_time|dayofweek(New_time)|
+--------------------+-------------------+
|2024-10-19 14:38:...|                  7|
|2024-10-19 14:38:...|                  7|
+--------------------+-------------------+
only showing top 2 rows

In [0]:
df_timestamp.select('New_time',dayofyear('New_time')).show(2)

+--------------------+-------------------+
|            New_time|dayofyear(New_time)|
+--------------------+-------------------+
|2024-10-19 14:38:...|                293|
|2024-10-19 14:38:...|                293|
+--------------------+-------------------+
only showing top 2 rows

In [0]:
df_timestamp.select('New_time',month('New_time')).show(2)

+--------------------+---------------+
|            New_time|month(New_time)|
+--------------------+---------------+
|2024-10-19 14:39:...|             10|
|2024-10-19 14:39:...|             10|
+--------------------+---------------+
only showing top 2 rows

In [0]:
df_timestamp.select('New_time',year('New_time')).show(2)

+--------------------+--------------+
|            New_time|year(New_time)|
+--------------------+--------------+
|2024-10-19 14:39:...|          2024|
|2024-10-19 14:39:...|          2024|
+--------------------+--------------+
only showing top 2 rows

In [0]:
df_spark.withColumn('New_date',date_add('Date of Joining',5)).show()

+-----+--------+------------------+---------------+-----------+------+----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|  New_date|
+-----+--------+------------------+---------------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2020-01-06|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2017-06-15|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2021-02-25|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2020-01-06|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2018-05-10|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2019-05-15|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2021-02-25|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2022-11-04|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2023-06-06|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2021-10-25|
+-----+--------+------------------+---------------+-----------+------+----------+

In [0]:
df_spark.withColumn('New_date',date_sub('Date of Joining',5)).show()

+-----+--------+------------------+---------------+-----------+------+----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|  New_date|
+-----+--------+------------------+---------------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2019-12-27|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2017-06-05|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2021-02-15|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2019-12-27|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2018-04-30|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2019-05-05|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2021-02-15|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2022-10-25|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2023-05-27|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2021-10-15|
+-----+--------+------------------+---------------+-----------+------+----------+

In [0]:
df_spark.withColumn('New_date',date_add('Date of Joining',-5)).show()

+-----+--------+------------------+---------------+-----------+------+----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|  New_date|
+-----+--------+------------------+---------------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2019-12-27|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2017-06-05|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2021-02-15|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2019-12-27|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2018-04-30|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2019-05-05|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2021-02-15|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2022-10-25|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2023-05-27|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2021-10-15|
+-----+--------+------------------+---------------+-----------+------+----------+

In [0]:
df_spark.withColumn('New_date',datediff(current_date(),'Date of Joining')).sort('New_date').show()

+-----+--------+------------------+---------------+-----------+------+--------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|New_date|
+-----+--------+------------------+---------------+-----------+------+--------+
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|     506|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|     720|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|    1095|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|    1337|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|    1337|
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|    1753|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|    1753|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|    1989|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|    2359|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|    2688|
+-----+--------+------------------+---------------+-----------+------+--------+

In [0]:
df_spark.withColumn('New_date',months_between(current_date(),'Date of Joining')).show()

+-----+--------+------------------+---------------+-----------+------+-----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|   New_date|
+-----+--------+------------------+---------------+-----------+------+-----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|57.58064516|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|88.29032258|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|43.96774194|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|57.58064516|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000| 77.4516129|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|65.29032258|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|43.96774194|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|23.64516129|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|16.58064516|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|35.96774194|
+-----+--------+------------------+---------------+-----------+------+-----------+

In [0]:
df_timestamp.select('*',date_format('New_time','dd/MM/yy')).show()

+-----+--------+------------------+---------------+-----------+------+--------------------+-------------------------------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|            New_time|date_format(New_time, dd/MM/yy)|
+-----+--------+------------------+---------------+-----------+------+--------------------+-------------------------------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2024-10-19 14:47:...|                       19/10/24|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2024-10-19 14:47:...|                       19/10/24|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2024-10-19 14:47:...|                       19/10/24|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2024-10-19 14:47:...|                       19/10/24|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2024-10-19 14:47:...|                       19/10/24|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2024-10-19 14:47:...|                       19/10/24|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2024-10-19 14:47:...|                       19/10/24|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2024-10-19 14:47:...|                       19/10/24|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2024-10-19 14:47:...|                       19/10/24|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2024-10-19 14:47:...|                       19/10/24|
+-----+--------+------------------+---------------+-----------+------+--------------------+-------------------------------+

In [0]:
df_timestamp.select('*',date_format('New_time','dd-MM-yyyy')).show()

+-----+--------+------------------+---------------+-----------+------+--------------------+---------------------------------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|            New_time|date_format(New_time, dd-MM-yyyy)|
+-----+--------+------------------+---------------+-----------+------+--------------------+---------------------------------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2024-10-19 14:48:...|                       19-10-2024|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2024-10-19 14:48:...|                       19-10-2024|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2024-10-19 14:48:...|                       19-10-2024|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2024-10-19 14:48:...|                       19-10-2024|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2024-10-19 14:48:...|                       19-10-2024|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2024-10-19 14:48:...|                       19-10-2024|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2024-10-19 14:48:...|                       19-10-2024|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2024-10-19 14:48:...|                       19-10-2024|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2024-10-19 14:48:...|                       19-10-2024|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2024-10-19 14:48:...|                       19-10-2024|
+-----+--------+------------------+---------------+-----------+------+--------------------+---------------------------------+

In [0]:
from pyspark.sql.functions import max,min,avg,count,sum

In [0]:
df_spark.groupBy('Dept').agg(max('Date of Joining').alias('max_date'),min('Date of Joining').alias('mindate'),datediff(max('Date of Joining'),min('Date of Joining')).alias('days_gap')).show()

+-----------+----------+----------+--------+
|       Dept|  max_date|   mindate|days_gap|
+-----------+----------+----------+--------+
|    Finance|2021-10-20|2017-06-10|    1593|
|Development|2023-06-01|2020-01-01|    1247|
|DataScience|2022-10-30|2018-05-05|    1639|
+-----------+----------+----------+--------+

In [0]:
df_spark.withColumn('new_month_date',add_months('Date of Joining',2)).show()

+-----+--------+------------------+---------------+-----------+------+--------------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|new_month_date|
+-----+--------+------------------+---------------+-----------+------+--------------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|    2020-03-01|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|    2017-08-10|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|    2021-04-20|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|    2020-03-01|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|    2018-07-05|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|    2019-07-10|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|    2021-04-20|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|    2022-12-30|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|    2023-08-01|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|    2021-12-20|
+-----+--------+------------------+---------------+-----------+------+--------------+

In [0]:
from pyspark.sql.functions import to_date,next_day

In [0]:
help(to_date)

Help on function to_date in module pyspark.sql.functions:

to_date(col: 'ColumnOrName', format: Optional[str] = None) -> pyspark.sql.column.Column
    Converts a :class:`~pyspark.sql.Column` into :class:`pyspark.sql.types.DateType`
    using the optionally specified format. Specify formats according to `datetime pattern`_.
    By default, it follows casting rules to :class:`pyspark.sql.types.DateType` if the format
    is omitted. Equivalent to ``col.cast("date")``.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 2.2.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    col : :class:`~pyspark.sql.Column` or str
        input column of values to convert.
    format: str, optional
        format to use to convert date values.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        date value as :class:`pyspark.sql.types.DateType` type.

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_date(df.t).alias('date')).collect()
    [Row(date=datetime.date(1997, 2, 28))]

    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_date(df.t, 'yyyy-MM-dd HH:mm:ss').alias('date')).collect()
    [Row(date=datetime.date(1997, 2, 28))]

In [0]:
df_spark.withColumn('New-sunday',next_day('Date of Joining','Monday')).show()

+-----+--------+------------------+---------------+-----------+------+----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|New-sunday|
+-----+--------+------------------+---------------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2020-01-06|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2017-06-12|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2021-02-22|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2020-01-06|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2018-05-07|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2019-05-13|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2021-02-22|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2022-10-31|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2023-06-05|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2021-10-25|
+-----+--------+------------------+---------------+-----------+------+----------+

In [0]:
df_spark.withColumn('New-sunday',to_date('Date of Joining','dd-MM-YYYY')).show()

+-----+--------+------------------+---------------+-----------+------+----------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|New-sunday|
+-----+--------+------------------+---------------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|2020-01-01|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|2017-06-10|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|2021-02-20|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|2020-01-01|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|2018-05-05|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|2019-05-10|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|2021-02-20|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|2022-10-30|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|2023-06-01|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|2021-10-20|
+-----+--------+------------------+---------------+-----------+------+----------+