In [0]:
spark

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
empDF.join(deptDF,empDF['emp_dept_id']==deptDF['dept_id'],how='inner').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF['emp_dept_id']==deptDF['dept_id'],how='left').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF['emp_dept_id']==deptDF['dept_id'],how='right').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF['emp_dept_id']==deptDF['dept_id'],how='full').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

## leftsemi and leftanti join

In [0]:
empDF.join(deptDF,empDF['emp_dept_id']==deptDF['dept_id'],how='leftsemi').show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
empDF.join(deptDF,empDF['emp_dept_id']==deptDF['dept_id'],how='leftanti').show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+

In [0]:
from pyspark.sql.functions import col,when

## self join to get superior name

In [0]:
empDF.alias('emp1').join(empDF.alias('emp2'),col("emp1.superior_emp_id") == col("emp2.emp_id"),"inner").\
    select(col("emp1.emp_id"),col("emp1.name"), \
      col("emp2.emp_id").alias("superior_emp_id"), \
      col("emp2.name").alias("superior_emp_name")).show()

+------+--------+---------------+-----------------+
|emp_id|    name|superior_emp_id|superior_emp_name|
+------+--------+---------------+-----------------+
|     2|    Rose|              1|            Smith|
|     3|Williams|              1|            Smith|
|     4|   Jones|              2|             Rose|
|     5|   Brown|              2|             Rose|
|     6|   Brown|              2|             Rose|
+------+--------+---------------+-----------------+

## GroupBy and Aggregate Functions

In [0]:
df_spark=spark.read.format('csv').option('header',True).option('inferSchema',True).load('dbfs:/FileStore/employee.csv')

In [0]:
from pyspark.sql.functions import sum,max,min,count,avg,when

In [0]:
df_spark.show()

+-----+--------+------------------+---------------+-----------+------+
|Empid|    Name|            Skills|Date of Joining|       Dept|Salary|
+-----+--------+------------------+---------------+-----------+------+
|    1|Abhishek|  python,sql,excel|     2020-01-01|DataScience|100000|
|    2|  Nitesh|    sap,word,excel|     2017-06-10|    Finance|150000|
|    3|  Aniket|          Java,sql|     2021-02-20|Development|200000|
|    4| Sandeep|Aws,postgre,python|     2020-01-01|Development|125000|
|    5|   Rahul|       Azure,scala|     2018-05-05|DataScience|175000|
|    6|  Venkat|        Slang,java|     2019-05-10|    Finance|250000|
|    7| Arunesh|    finacle,isense|     2021-02-20|    Finance|150000|
|    8|Sangeeta|      Dermatoloist|     2022-10-30|DataScience|100000|
|    9|  Yuvraj|              ABCD|     2023-06-01|Development|200000|
|   10|  Tushar|           running|     2021-10-20|    Finance|150000|
+-----+--------+------------------+---------------+-----------+------+

In [0]:
df_spark=df_spark.withColumnRenamed('Date of Joining','DOJ')

In [0]:
df_spark.show()

+-----+--------+------------------+----------+-----------+------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|
+-----+--------+------------------+----------+-----------+------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|
+-----+--------+------------------+----------+-----------+------+

In [0]:
df_spark.groupBy('Dept').sum('Salary').show()

+-----------+-----------+
|       Dept|sum(Salary)|
+-----------+-----------+
|    Finance|     700000|
|Development|     525000|
|DataScience|     375000|
+-----------+-----------+

In [0]:
df_spark.groupby(['Dept','name']).count('Salary').show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-1036526035208601>:1
----> 1 df_spark.groupby(['Dept','name']).count('Salary').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: _api() takes 1 positional argument but 2 were given

In [0]:
df_spark.groupby(['Dept']).agg(sum('Salary').alias('Total_Salary'),count('Salary').alias('Count_emp'),min('Salary').alias('Min_sal')).show()

+-----------+------------+---------+-------+
|       Dept|Total_Salary|Count_emp|Min_sal|
+-----------+------------+---------+-------+
|    Finance|      700000|        4| 150000|
|Development|      525000|        3| 125000|
|DataScience|      375000|        3| 100000|
+-----------+------------+---------+-------+

In [0]:
from pyspark.sql.functions import count_distinct

In [0]:
df_spark.select(count_distinct(col('Dept'))).show()

+--------------------+
|count(DISTINCT Dept)|
+--------------------+
|                   3|
+--------------------+

In [0]:
df_spark.show()

+-----+--------+------------------+----------+-----------+------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|
+-----+--------+------------------+----------+-----------+------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|
+-----+--------+------------------+----------+-----------+------+

## Windows Function

In [0]:
from pyspark.sql.window import Window

In [0]:
from pyspark.sql.functions import rank,dense_rank,row_number

In [0]:
df_spark.withColumn('Dept_wise',rank().over(Window.partitionBy(col('Dept')).orderBy(col('Salary')))).show()

+-----+--------+------------------+----------+-----------+------+---------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|Dept_wise|
+-----+--------+------------------+----------+-----------+------+---------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|        1|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|        1|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|        3|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|        1|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|        2|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|        2|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|        1|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|        1|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|        1|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|        4|
+-----+--------+------------------+----------+-----------+------+---------+

In [0]:
df_spark.withColumn('row_rank',row_number().over(Window.partitionBy('Dept').orderBy('Salary'))).show()

+-----+--------+------------------+----------+-----------+------+--------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|row_rank|
+-----+--------+------------------+----------+-----------+------+--------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|       1|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|       2|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|       3|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|       1|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|       2|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|       3|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|       1|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|       2|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|       3|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|       4|
+-----+--------+------------------+----------+-----------+------+--------+

In [0]:
df_spark.withColumn('Dense_rank',dense_rank().over(Window.partitionBy('Dept').orderBy('Salary'))).show()

+-----+--------+------------------+----------+-----------+------+----------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|Dense_rank|
+-----+--------+------------------+----------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|         1|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|         1|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|         2|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|         1|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|         2|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|         2|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|         1|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|         1|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|         1|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|         2|
+-----+--------+------------------+----------+-----------+------+----------+

In [0]:
df_spark.withColumn('Total_sum',sum('Salary').over(Window.partitionBy('Dept'))).show()

+-----+--------+------------------+----------+-----------+------+---------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|Total_sum|
+-----+--------+------------------+----------+-----------+------+---------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|   375000|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|   375000|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|   375000|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|   525000|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|   525000|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|   525000|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|   700000|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|   700000|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|   700000|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|   700000|
+-----+--------+------------------+----------+-----------+------+---------+

In [0]:
df_spark.withColumn('count',count('Salary').over(Window.partitionBy('Dept'))).show()

+-----+--------+------------------+----------+-----------+------+-----+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|count|
+-----+--------+------------------+----------+-----------+------+-----+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|    3|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|    3|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|    3|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|    3|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|    3|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|    3|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|    4|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|    4|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|    4|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|    4|
+-----+--------+------------------+----------+-----------+------+-----+

In [0]:
df_spark.withColumn('Max_amt',max('Salary').over(Window.partitionBy('Dept'))).show()

+-----+--------+------------------+----------+-----------+------+-------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|Max_amt|
+-----+--------+------------------+----------+-----------+------+-------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000| 175000|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000| 175000|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000| 175000|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000| 200000|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000| 200000|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000| 200000|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000| 250000|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000| 250000|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000| 250000|
|   10|  Tushar|           running|2021-10-20|    Finance|150000| 250000|
+-----+--------+------------------+----------+-----------+------+-------+

In [0]:
from pyspark.sql.functions import percent_rank

In [0]:
df_spark.withColumn('Percent',percent_rank().over(Window.partitionBy('Dept').orderBy('Salary'))).show()

+-----+--------+------------------+----------+-----------+------+-------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|Percent|
+-----+--------+------------------+----------+-----------+------+-------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|    0.0|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|    0.0|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|    1.0|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|    0.0|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|    0.5|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|    0.5|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|    0.0|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|    0.0|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|    0.0|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|    1.0|
+-----+--------+------------------+----------+-----------+------+-------+

In [0]:
from pyspark.sql.functions import ntile,nth_value,lag,lead

In [0]:
df_spark.withColumn('ntiles',ntile(3).over(Window.partitionBy('Dept').orderBy('Salary'))).show()

+-----+--------+------------------+----------+-----------+------+------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|ntiles|
+-----+--------+------------------+----------+-----------+------+------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|     1|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|     2|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|     3|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|     1|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|     2|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|     3|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|     1|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|     1|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|     2|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|     3|
+-----+--------+------------------+----------+-----------+------+------+

In [0]:
df_spark.withColumn('nth_values',nth_value('Salary',3).over(Window.partitionBy('Dept').orderBy('Salary'))).show()

+-----+--------+------------------+----------+-----------+------+----------+
|Empid|    Name|            Skills|       DOJ|       Dept|Salary|nth_values|
+-----+--------+------------------+----------+-----------+------+----------+
|    1|Abhishek|  python,sql,excel|2020-01-01|DataScience|100000|      null|
|    8|Sangeeta|      Dermatoloist|2022-10-30|DataScience|100000|      null|
|    5|   Rahul|       Azure,scala|2018-05-05|DataScience|175000|    175000|
|    4| Sandeep|Aws,postgre,python|2020-01-01|Development|125000|      null|
|    3|  Aniket|          Java,sql|2021-02-20|Development|200000|    200000|
|    9|  Yuvraj|              ABCD|2023-06-01|Development|200000|    200000|
|    2|  Nitesh|    sap,word,excel|2017-06-10|    Finance|150000|    150000|
|    7| Arunesh|    finacle,isense|2021-02-20|    Finance|150000|    150000|
|   10|  Tushar|           running|2021-10-20|    Finance|150000|    150000|
|    6|  Venkat|        Slang,java|2019-05-10|    Finance|250000|    150000|
+-----+--------+------------------+----------+-----------+------+----------+

## Some Other Exapmle from
https://sparkbyexamples.com/pyspark/pyspark-window-functions/

In [0]:


simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]

df = spark.createDataFrame(data = simpleData, schema = columns)

df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:

windowSpec  = Window.partitionBy("department").orderBy("salary")

df.withColumn("row_number",row_number().over(windowSpec)) \
    .show(truncate=False)

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|Maria        |Finance   |3000  |1         |
|Scott        |Finance   |3300  |2         |
|Jen          |Finance   |3900  |3         |
|Kumar        |Marketing |2000  |1         |
|Jeff         |Marketing |3000  |2         |
|James        |Sales     |3000  |1         |
|James        |Sales     |3000  |2         |
|Robert       |Sales     |4100  |3         |
|Saif         |Sales     |4100  |4         |
|Michael      |Sales     |4600  |5         |
+-------------+----------+------+----------+

In [0]:
from pyspark.sql.functions import rank
df.withColumn("rank",rank().over(windowSpec)) \
    .show()

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|   1|
|        Scott|   Finance|  3300|   2|
|          Jen|   Finance|  3900|   3|
|        Kumar| Marketing|  2000|   1|
|         Jeff| Marketing|  3000|   2|
|        James|     Sales|  3000|   1|
|        James|     Sales|  3000|   1|
|       Robert|     Sales|  4100|   3|
|         Saif|     Sales|  4100|   3|
|      Michael|     Sales|  4600|   5|
+-------------+----------+------+----+

In [0]:
from pyspark.sql.functions import dense_rank
df.withColumn("dense_rank",dense_rank().over(windowSpec)) \
    .show()

+-------------+----------+------+----------+
|employee_name|department|salary|dense_rank|
+-------------+----------+------+----------+
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         1|
|       Robert|     Sales|  4100|         2|
|         Saif|     Sales|  4100|         2|
|      Michael|     Sales|  4600|         3|
+-------------+----------+------+----------+

In [0]:
from pyspark.sql.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(windowSpec)) \
    .show()

+-------------+----------+------+------------+
|employee_name|department|salary|percent_rank|
+-------------+----------+------+------------+
|        Maria|   Finance|  3000|         0.0|
|        Scott|   Finance|  3300|         0.5|
|          Jen|   Finance|  3900|         1.0|
|        Kumar| Marketing|  2000|         0.0|
|         Jeff| Marketing|  3000|         1.0|
|        James|     Sales|  3000|         0.0|
|        James|     Sales|  3000|         0.0|
|       Robert|     Sales|  4100|         0.5|
|         Saif|     Sales|  4100|         0.5|
|      Michael|     Sales|  4600|         1.0|
+-------------+----------+------+------------+

In [0]:
    
from pyspark.sql.functions import ntile
df.withColumn("ntile",ntile(2).over(windowSpec)) \
    .show()

+-------------+----------+------+-----+
|employee_name|department|salary|ntile|
+-------------+----------+------+-----+
|        Maria|   Finance|  3000|    1|
|        Scott|   Finance|  3300|    1|
|          Jen|   Finance|  3900|    2|
|        Kumar| Marketing|  2000|    1|
|         Jeff| Marketing|  3000|    2|
|        James|     Sales|  3000|    1|
|        James|     Sales|  3000|    1|
|       Robert|     Sales|  4100|    1|
|         Saif|     Sales|  4100|    2|
|      Michael|     Sales|  4600|    2|
+-------------+----------+------+-----+

In [0]:

from pyspark.sql.functions import cume_dist    
df.withColumn("cume_dist",cume_dist().over(windowSpec)) \
   .show()

+-------------+----------+------+------------------+
|employee_name|department|salary|         cume_dist|
+-------------+----------+------+------------------+
|        Maria|   Finance|  3000|0.3333333333333333|
|        Scott|   Finance|  3300|0.6666666666666666|
|          Jen|   Finance|  3900|               1.0|
|        Kumar| Marketing|  2000|               0.5|
|         Jeff| Marketing|  3000|               1.0|
|        James|     Sales|  3000|               0.4|
|        James|     Sales|  3000|               0.4|
|       Robert|     Sales|  4100|               0.8|
|         Saif|     Sales|  4100|               0.8|
|      Michael|     Sales|  4600|               1.0|
+-------------+----------+------+------------------+

In [0]:
from pyspark.sql.functions import lag    
df.withColumn("lag",lag("salary",2).over(windowSpec)) \
      .show()

+-------------+----------+------+----+
|employee_name|department|salary| lag|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|null|
|        Scott|   Finance|  3300|null|
|          Jen|   Finance|  3900|3000|
|        Kumar| Marketing|  2000|null|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|null|
|        James|     Sales|  3000|null|
|       Robert|     Sales|  4100|3000|
|         Saif|     Sales|  4100|3000|
|      Michael|     Sales|  4600|4100|
+-------------+----------+------+----+

In [0]:
from pyspark.sql.functions import lead    
df.withColumn("lead",lead("salary",2).over(windowSpec)) \
    .show()

+-------------+----------+------+----+
|employee_name|department|salary|lead|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|3900|
|        Scott|   Finance|  3300|null|
|          Jen|   Finance|  3900|null|
|        Kumar| Marketing|  2000|null|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|4100|
|        James|     Sales|  3000|4100|
|       Robert|     Sales|  4100|4600|
|         Saif|     Sales|  4100|null|
|      Michael|     Sales|  4600|null|
+-------------+----------+------+----+

In [0]:
windowSpecAgg  = Window.partitionBy("department")
from pyspark.sql.functions import col,avg,sum,min,max,row_number 
df.withColumn("row",row_number().over(windowSpec)) \
  .withColumn("avg", avg(col("salary")).over(windowSpecAgg)) \
  .withColumn("sum", sum(col("salary")).over(windowSpecAgg)) \
  .withColumn("min", min(col("salary")).over(windowSpecAgg)) \
  .withColumn("max", max(col("salary")).over(windowSpecAgg)) \
  .where(col("row")==1).select("department","avg","sum","min","max") \
  .show()

+----------+------+-----+----+----+
|department|   avg|  sum| min| max|
+----------+------+-----+----+----+
|   Finance|3400.0|10200|3000|3900|
| Marketing|2500.0| 5000|2000|3000|
|     Sales|3760.0|18800|3000|4600|
+----------+------+-----+----+----+